.dropdown_design{
   margin-top: -15px !important;
   background-color: transparent;
   margin-right: 12px;
}
.bg_nav{
   background-color: rgb(235, 232, 228);
}
.h1_color{
   color: brown;
}
.h1_sub{
   color: rgb(4, 118, 211);
}