.dropdown_design{
   margin-top: -15px !important;
   background-color: transparent;
   margin-right: 12px;
}
.bg_nav{
   background-color: #ededec;;
}
.h1_color{
   color: brown;
}
.h1_sub{
   color: rgb(4, 118, 211);
}
.bg_color{
   background-color: #f8f8f6;
}
.btn_bg{
   background-color: rgb(4, 118, 211);
}